Environment:
Windows/Linux

Prerequisites
Make sure you have the following installed before running the script:

Python 3.x
Selenium (pip install selenium)
BeautifulSoup (pip install beautifulsoup4)
Pandas (pip install pandas)
OpenPyxl (pip install openpyxl)



Customization

Search Query: You can modify the query parameter in the script to search for specific products.
Number of Results: Adjust the num_results parameter to control how many pages of search results to scrape.